{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- //bootstrap-pop-up -->
<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li class="w3_home_act"><a href="{% url 'bookdb:home' %}">Home</a></li>
							{% if request.user.is_authenticated %}
							

							<li><a href="{% url 'bookdb:logout' %}">Logout</a></li>
							{% else %}
							<li><a href="#">Register</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- //nav -->
<!-- single -->
<div class="single-page-agile-main">
<div class="container">
		<!-- /w3l-medile-movies-grids -->

			<div class="single-page-agile-info">
                   <!-- /movie-browse-agile -->
                           <div class="show-top-grids-w3lagile">
                <script type="text/javascript">
                	$(document).ready(function() {
						var key = "AIzaSyCtDw2NDM3azfziwHJxACUII9W4j6POT0c";
						var isbn = "{{ isbn }}";
						var gurl = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn + "&key=" + key;
						console.log(gurl)

						$.ajax({url: gurl, success: function(result) {
							console.log(result, "hahaha");
							var res = result["items"][0];
							var pic = res["volumeInfo"]["imageLinks"]["large"];
							if (pic == null) {
								pic = res["volumeInfo"]["imageLinks"]["thumbnail"];
							}
							var author = res["volumeInfo"]["authors"][0]
							var description = res["searchInfo"]["textSnippet"];
							var pdfAvailable = res["accessInfo"]["pdf"]["isAvailable"]
        					var readerLink = res["accessInfo"]["webReaderLink"]
        					var title = res["volumeInfo"]["title"];

									var page = res["volumeInfo"]["pageCount"];
									var mat = res["volumeInfo"]["maturityRating"];
									var genre = res["volumeInfo"]["categories"][0];
									var lnk = res["volumeInfo"]["infoLink"];
        					$("img[id='img{{isbn}}']").attr('src', pic);
        					$("a[id='inf{{isbn}}']").attr('href', lnk);
        					$("h1[id='title{{isbn}}']").text(title);
        					$("p[id='desc{{isbn}}']").text(description);
        					$("span[id='author{{isbn}}']").text(author);
        					$("span[id='page{{isbn}}']").text(page);
        					$("span[id='genre{{isbn}}']").text(genre);
        					$("span[id='mat{{isbn}}']").text(mat);
						}})
					})
                </script>
				<div class="col-sm-8 single-left row">
					<div class="col-md-4">
					<div class="song">
						<div class="song-info">
							<h1 id="title{{isbn}}">Loading Book</h1>
					</div>
						<div class="image-grid-single-page-agileits">
							<img src="images/5.jpg" alt="" class="img-responsive" id="img{{isbn}}" style="width:160px;height:200px"/><br/>
							Author: <b><span id="author{{isbn}}"></span></b><br/>
							Pages: <b><span id="page{{isbn}}"></span></b><br/>
						</div>
					</div>
				</div>
				<div class="col-md-7" style="height:100%; display:table-cell; vertical-align:middle">
					<p id="desc{{isbn}}" style="font-size:20px"></p><br/>
					<p style="font-size:17px">Average Rating: <b style="color:orange">{{ avg_rating }}</b></p><br/>
					<form action="{% url 'bookdb:rate_book' isbn %}" method="post">
						{% csrf_token %}
						Your Rating: <input type="number" name="rating" min="0" max="10" style="width:100px" required>&nbsp;&nbsp;
						<input type="submit" value="RATE">
					</form><br/>
						Genre: <b style=""><span id="genre{{isbn}}"></span></b><br/><br/>
						Content: <b style="color:red"><span id="mat{{isbn}}"></span></b><br/><br/>
						<button class="btn btn-warning" style="background-color:orange; color:black"><a href="#" id="inf{{isbn}}" style="color:black">More Info</a></button>
				</div>
					<div class="clearfix"> </div>
					<br/><br/>
					<div class="all-comments">
						<div class="all-comments-info">
							<h3>Comments</h3>
							<div class="agile-info-wthree-box">
								<form action="{% url 'bookdb:comment' isbn %}" method="post">
									{% csrf_token %}
									<textarea placeholder="Message" name="text" required></textarea>
									<input type="submit" value="SEND">
									<div class="clearfix"> </div>
								</form>
							</div>
						</div>
						<div class="media-grids">
							{% for comment in comments %}
							<div class="media">
								<h5>{{ comment.user.user.first_name }} {{ comment.user.user.last_name }}</h5>
								<div class="media-left">

									<img src="{{comment.user.photo.url}}" title="One movies" alt=" " height="60px" width="60px"/>

								</div>
								<div class="media-body">
									<p>{{comment.text}}</p>
								</div>
							</div>
							{% endfor %}

						</div>

								<br/><br/><br/>
								<h2>Preview</h2>:
								<br/>
						    <div id="viewerCanvas" style="width: 100%; height: 500px"></div>
								<div id="errorc"></div>
								<br/><br/><br/><br/>
					</div>
				</div>
				<div class="col-md-4 single-right" style="padding-right:30px">
					<h3>Similar Books</h3>
					<div class="single-grid-right">
						{% for i in similar %}
						<script>
							$(document).ready(function() {
								var key = "AIzaSyCtDw2NDM3azfziwHJxACUII9W4j6POT0c";
								var isbn = "{{ i }}";
								var gurl = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn + "&key=" + key;
								console.log(gurl)

								$.ajax({url: gurl, success: function(result) {
									console.log(result, "hi");
									var res = result["items"][0];
									var pic = res["volumeInfo"]["imageLinks"]["thumbnail"];
									var description = res["searchInfo"]["textSnippet"];
									var pdfAvailable = res["accessInfo"]["pdf"]["isAvailable"]
                	var readerLink = res["accessInfo"]["webReaderLink"]
                	var title = res["volumeInfo"]["title"]
          				$("img[id='img{{i}}']").attr('src', pic);
      					$("a[id='title{{i}}']").text(title);
													$("p[id='d{{i}}']").text(description);
								}})
							})
						</script>
						<div class="single-right-grids">
							<div class="col-md-4 single-right-grid-left">
								<a href="{% url 'bookdb:book_detail' i %}"><img src="images/m1.jpg" alt="" id="img{{i}}"/></a>
							</div>
							<div class="col-md-8 single-right-grid-right">
								<b><a href="{% url 'bookdb:book_detail' i %}" class="title" id="title{{i}}"></a></b>
								<p id="d{{i}}"></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						{% endfor %}

					</div>
				</div>



				<div class="clearfix"> </div>
			</div>
				<!-- //movie-browse-agile -->
				<!--body wrapper start-->

		<!--body wrapper end-->
		<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
    <script type="text/javascript">
      google.books.load();

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load('ISBN:{{isbn}}', function(){
					$('#errorc').text("Preview is not available with Google Books")
					$("#viewerCanvas").css({"width":"0","height":"0"});
				});
      }

      google.books.setOnLoadCallback(initialize);
    </script>




<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>&copy; 2018 One Book</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bookdb/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
{% endblock %}
