{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
<!-- //nav -->
<!-- banner -->
<div class="movies_nav">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav>
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="{% url 'bookdb:search' %}">Search</a></li>
						{% if request.user.is_authenticated %}

						<li><a href="{% url 'bookdb:logout' %}">Logout</a></li>
						{% else %}
						<li><a href="{% url 'bookdb:home' %}">Register</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</nav>
	</div>
</div>
	<div id="slidey" style="display:none;">
		<ul>
			<li><img src="{% static 'bookdb/images/b1.jpg' %}" alt=" ">
        <p class='title'>John Green</p>
        <p class='description'>"Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.” </p></li>
			<li><img src="{% static 'bookdb/images/b2.jpg' %}" alt=" "><p class='title'>Jane Austen</p><p class='description'>
				“I declare after all there is no enjoyment like reading! How much sooner one tires of any thing than of a book! -- When I have a house of my own, I shall be miserable if I have not an excellent library.” </p></li>
			<li><img src="{% static 'bookdb/images/b3.jpg' %}" alt=" "><p class='title'>William Faulkner</p><p class='description'>
				“Read, read, read. Read everything -- trash, classics, good and bad, and see how they do it. Just like a carpenter who works as an apprentice and studies the master. Read! You'll absorb it.
Then write. If it's good, you'll find out. If it's not, throw it out of the window.” </p></li>
			<li><img src="{% static 'bookdb/images/b4.jpg' %}" alt=" "><p class='title'>George R. R. Martin</p><p class='description'>
				“A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one.” </p></li>
			<li><img src="{% static 'bookdb/images/b6.jpg' %}" alt=" "><p class='title'>Thomas Macaulay</p><p class='description'>

“What a blessing it is to love books as I love them;- to be able to converse with the dead, and to live amidst the unreal!” </p></li>
			<li><img src="{% static 'bookdb/images/b5.jpg' %}" alt=" "><p class='title'>Mortimer J. Adler</p><p class='description'>
				“In the case of good books, the point is not to see how many of them you can get through, but rather how many can get through to you.”</p></li>
		</ul>
    </div>
    <script src="{% static 'bookdb/js/jquery.slidey.js' %}"></script>
    <script src="{% static 'bookdb/js/jquery.dotdotdot.min.js' %}"></script>
	   <script type="text/javascript">
			$("#slidey").slidey({
				interval: 8000,
				listCount: 5,
				autoplay: false,
				showList: true
			});
			$(".slidey-list-description").dotdotdot();
		</script>
<!-- //banner -->
<!-- banner-bottom --><br/><br/>
	<h4 class="latest-text w3_latest_text w3_home_popular">Books According To Your Interests</h4>
	<div class="banner-bottom">
		<div class="container">
			<div class="w3_agile_banner_bottom_grid">
				<div id="owl-demo" class="owl-carousel owl-theme">
          {% for i in recommended %}
          <script>
          $(document).ready(function(){
            var key = "AIzaSyCtDw2NDM3azfziwHJxACUII9W4j6POT0c";
						var isbn="{{i}}";
						var gurl2 = "https://www.googleapis.com/books/v1/volumes?q=isbn:"+isbn

            console.log("{{i}}","manish")
            var gurl = "https://www.googleapis.com/books/v1/volumes?q=isbn:"+isbn+"&key="+key
            console.log(gurl)
            $.ajax({url: gurl, success: function(result){
                console.log(result,"hahaha");
                var res = result["items"][0];
                var pic = res["volumeInfo"]["imageLinks"]["thumbnail"];
                var description = res["searchInfo"]["textSnippet"]
                var pdfAvailable = res["accessInfo"]["pdf"]["isAvailable"]
                var readerLink = res["accessInfo"]["webReaderLink"]
                var title = res["volumeInfo"]["title"]
								var avr = res["volumeInfo"]["averageRating"]
								var auth = res["volumeInfo"]["authors"][0]
                $("img[id='img{{i}}']").attr('src', pic);
                $("a[id='title{{i}}']").text(title);
								$("p[id='avr{{i}}']").text(avr);
								$("p[id='auth{{i}}']").text(auth)
            }});
          });
          </script>
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
							<a href="{% url 'bookdb:book_detail' i %}" class="hvr-shutter-out-horizontal">
                <img src="images/m13.jpg" title="album-name" class="img-responsive" alt=" " id="img{{i}}"/>
								<div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
									<h6><a href="{% url 'bookdb:book_detail' i %}" id="title{{i}}">Citizen Soldier</a></h6>
									<br/>
									<p id="auth{{i}}">2016</p>
								</div>
								<div class="mid-2 agile_mid_2_home" style="text-align:center">

									<div class="clearfix"></div>
								</div>
							</div>
							<div class="ribben">
								<p id="avr{{i}}">NEW</p>
							</div>
						</div>
					</div>
          {% endfor %}

				</div>
			</div>
		</div>
	</div>
<!-- general -->

<!-- //general -->
<!-- Latest-tv-series -->

	<div class="Latest-tv-series">
		<h4 class="latest-text w3_latest_text w3_home_popular">Upcoming Books</h4>
		<div class="container" style="width:750px">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="agile_tv_series_grid">
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{% static 'bookdb/images/ue2.jpg' %}" alt=" " height="500px" />

									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right" style="height:500px">
									<p class="fexi_header">The Winds of Winter (A Song of Ice and Fire, #6) </p>
									<p class="fexi_header_para"><span class="conjuring_w3">Story Line<label>:</label></span>The Winds of Winter is the forthcoming sixth novel in the epic fantasy series A Song of Ice and Fire by George R.R. Martin.

The previous installment, A Dance with Dragons left several character threads ending in cliffhangers.</p>
									<p class="fexi_header_para"><span>Date of Release<label>:</label></span> Jun 10, 2016 </p>
									<p class="fexi_header_para">
										<span>Genres<label>:</label> </span>
										<a href="genres.html">Drama</a> |
										<a href="genres.html">Adventure</a> |
										<a href="genres.html">Family</a>
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
						</li>
						<li>
							<div class="agile_tv_series_grid">
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{% static 'bookdb/images/ue1.jpg' %}" alt=" " height="500px"/>

									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right" style="height:500px">
									<p class="fexi_header">King of Scars (Nikolai Duology, #1) </p>
									<p class="fexi_header_para"><span class="conjuring_w3">Story Line<label>:</label></span>Nikolai Lantsov has always had a gift for the impossible. No one knows what he endured in his country’s bloody civil war—and he intends to keep it that way. Now, as enemies gather at his weakened borders, the young king must find a way to refill Ravka’s coffers, and stop a rising threat to the once-great Grisha Army.</p>
									<p class="fexi_header_para"><span>Date of Release<label>:</label></span> Oct 09, 2015 </p>
									<p class="fexi_header_para">
										<span>Genres<label>:</label> </span>
										<a href="genres.html">Thriller</a> |
										<a href="genres.html">Horror</a>
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>
														</li>
						<li>
							<div class="agile_tv_series_grid">
								<div class="col-md-6 agile_tv_series_grid_left">
									<div class="w3ls_market_video_grid1">
										<img src="{% static 'bookdb/images/ue3.jpg' %}" height="500px" alt=" " />

									</div>
								</div>
								<div class="col-md-6 agile_tv_series_grid_right"style="height:500px">
									<p class="fexi_header">Kingdom of Ash (Throne of Glass, #7) </p>
									<p class="fexi_header_para"><span class="conjuring_w3">Story Line<label>:</label></span> Years in the making, Sarah J. Maas’s #1 New York Times bestselling Throne of Glass series draws to an epic, unforgettable conclusion. Aelin Galathynius’s journey from slave to king’s assassin to the queen of a once-great kingdom reaches its heart-rending finale as war erupts across her world. . .</p>
									<p class="fexi_header_para"><span>Date of Release<label>:</label></span> May 06, 2016 </p>
									<p class="fexi_header_para">
										<span>Genres<label>:</label> </span>
										<a href="genres.html">Action</a> |
										<a href="genres.html">Adventure</a>
									</p>
									<p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
									</p>
								</div>
								<div class="clearfix"> </div>

						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="{% static 'bookdb/css/flexslider.css' %}" type="text/css" media="screen" property="" />
				<script defer src="{% static 'bookdb/js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
	</div>
	<!-- pop-up-box -->
		<script src="{% static 'bookdb/js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
	<!--//pop-up-box -->
	<div id="small-dialog" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
	</div>
	<div id="small-dialog1" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/148284736"></iframe>
	</div>
	<div id="small-dialog2" class="mfp-hide">
		<iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
	</div>
	<script>
		$(document).ready(function() {
		$('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		});
	</script>
<!-- //Latest-tv-series -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="col-md-6 w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_left1">
						<h2>Subscribe to us</h2>
						<div class="w3ls_footer_grid_left1_pos">
							<form action="#" method="post">
								<input type="email" name="email" placeholder="Your email..." required="">
								<input type="submit" value="Send">
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6 w3ls_footer_grid_right">
					<a href="index.html"><h2>One<span>Book</span></h2></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>&copy; 2016 One Book. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bookdb/js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
</body>
{% endblock %}
